
button {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

div{
    width: 300px; /* Sets the width of the content area */
    height: 150px; /* Sets the height of the content area */
    background-color: lightblue; /* Sets the background color */
    border: 2px solid #ccc; /* Creates a 2px solid border with #ccc color */
    padding: 10px; /* Adds 10px padding around the content */
    box-sizing: border-box; /* Ensures width and height include padding and border */
    margin-top: 30px;
}